# General
.idea/
.vscode
*.idea

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# LaTeX
*.aux
*.log
*.out
*.bbl
*.blg
*.dvi
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.vrb
*.zip

# Jupyter
.ipynb_checkpoints
